.g-container {
  width: 600px;
  margin: 0px auto;
  padding: 0 0 20px 0;
}

h2 {
  text-align: center;
  padding: 60px 0 10px;
  font-size: 20px;
}

p {
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}

.g-bgat-scroll {
  height: 200px;
  border: 1px solid #000;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1533565295933&di=4a1a94e76121bff62abc53348d189036&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2F8644ebf81a4c510f655550ce6a59252dd52aa555.jpg");
  background-size: cover;
  background-attachment: scroll;
}

.g-bgat-local {
  height: 200px;
  border: 1px solid #000;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1533565295933&di=4a1a94e76121bff62abc53348d189036&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2F8644ebf81a4c510f655550ce6a59252dd52aa555.jpg");
  background-size: 100% cover;
  background-attachment: local;
}

.g-bgat-fixed {
  height: 200px;
  border: 1px solid #000;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1533565295933&di=4a1a94e76121bff62abc53348d189036&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2F8644ebf81a4c510f655550ce6a59252dd52aa555.jpg");
  background-size: 100% cover;
  background-attachment: fixed;
}
