div {
    margin: 50px auto;
    font-size: 54px;
    font-weight: bold;
    text-align: center;
    text-transform:uppercase;
    color: transparent;
    background: linear-gradient(0, #009688 0%, yellowgreen 100%);
    // background: url('https://unsplash.it/1200/400?image=1067') no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-clip: text;
}